# 🔹 Node.js & Next.js
node_modules/
.next/
dist/
out/
build/
npm-debug.log*
yarn-error.log*
.env
.env.local
.env.production
.env.test

# 🔹 Logs
logs/
*.log

# 🔹 Configuración de IDEs y Editores
.vscode/
.idea/
.DS_Store

# 🔹 Archivos de caché y dependencias
package-lock.json
yarn.lock

# 🔹 Bases de Datos (SQL & MongoDB)
*.sqlite
*.db
mongod.lock